@model IEnumerable<LibraryWebApplication.Models.City>

<h2>Cities</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form method="get" asp-action="Index">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" name="Name" value="@ViewBag.Name" class="form-control" />
        </div>
        <div>
            <button type="submit" class="custom-btn btn">Apply Filters</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
