@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.Action("Index", "Reader")">Readers</a><br />
    <a href="@Url.Action("Index", "City")">Cities</a><br />
    <a href="@Url.Action("Index", "Genre")">Genres</a><br />
    <a href="@Url.Action("Index", "Author")">Authors</a><br />
    <a href="@Url.Action("Index", "Position")">Positions</a><br />
    <a href="@Url.Action("Index", "Publisher")">Publishers</a><br />
    <a href="@Url.Action("Index", "Employee")">Employees</a><br />
    <a href="@Url.Action("Index", "Book")">Books</a><br />
    <a href="@Url.Action("Index", "BorrowedBook")">Borrows</a><br />

    <a href="@Url.Action("Index", "Account")">Users</a><br />

    <a href="@Url.Action("Register", "Account")">Register</a><br />
    <a href="@Url.Action("Login", "Account")">Login</a><br />
    <a href="@Url.Action("Logout", "Account")">Logout</a>
</div>
